
%div.panel.panel-info
  %div.panel-heading="Sending Details"
  %div.panel-body
    %div.row
      %div.col-md-2
        =@vip_reference.vip_ref_movements.last.sent_to
      %div.col-md-4
        =@vip_reference.vip_ref_movements.last.sent_to
        