-if params[:page].to_i == 0
  %td= index+1
-else
  %td= (params[:page].to_i-1)*10+index+1
%td= reference.id
%td=reference.letter_no
%td=l reference.letter_date,format: :default
%td=l reference.diaried_date,format: :default
%td=reference.subject  
%td=reference.section.name
%td=reference.vip_category.s_name
%td=reference.vip_ref_status.try(:status_name)
%td=link_to 'View', reference
