-if params[:page].to_i == 0
  %td= index+1
-else
  %td= (params[:page].to_i-1)*10+index+1

%td=transfer.vip_reference.id
/%td=transfer.vip_reference.letter_no
/%td=l transfer.vip_reference.letter_date, format: :default
%td=transfer.vip_reference.subject  
%td=l transfer.vip_reference.diaried_date
%td=transfer.to.name
/%td=transfer.vip_reference.vip_ref_status.status_name
%td=transfer.vip_reference.vip_category.name
%td=l transfer.transferred_on,format: :default
%td=transfer.user.contact.name
/%td= link_to 'Edit', edit_vip_reference_path(reference)
/%td= link_to 'Destroy', movement.vip_reference, :method => :delete, :data => { :confirm => 'Are you sure?' }

