%div.panel.panel-info
  %div.panel-heading
    ="Edit Category"
  %div.panel-body
    %div.col-md-8
      = render 'form'
    %div.col-md-4

= link_to 'Show', @vip_category

= link_to 'Back', vip_categories_path

